@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   box-sizing: border-box;
}
body {   
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto' sans-serif;
}
.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
#footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
}
.btn:hover {
    background-color: #218838;
}